<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :job_company %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :job_position %>
  </div>

  <div class="field">
    <%= form.label :skills %>
    <%= form.text_field :skills, id: :job_skills %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :job_state %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :job_salary %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :job_comments %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site, id: :job_site %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
