<%= form_with model: @job do |form| %>
<%#= form_with(model: @job, local: true) do |form| %>
<%#= form_for([@job, @job.comments.build]) do |f| %>

<div class="field">
  <p>
  <%= form.label :position %>
  <%= form.text_field :position, id: :job_position %>
  </p>
</div>
<br>
  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :job_company %>
  </div>
  <br>
  <div class="field">
    <%= form.label :skills %>
    <%= form.text_field :skills, id: :job_skills %>
  </div>
  <br>
  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :job_state %>
  </div>
  <br>
  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :job_salary %>
  </div>
  <br>
  <div class="field">
  <%= form.label :site %>
    <%= form.text_field :site, id: :job_site %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
