<p id="notice"><%= notice %></p>


<br>

<h1>Application to <%= @job.company %> </h1>

<br>

<p>
  <strong>Date Applied: </strong> <%= time_ago_in_words(@job.created_at) %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>

<p>
  <strong>State:</strong>
  <%= @job.state %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Site:</strong>
  <%= @job.site  %>
</p>

<br>

<%= link_to 'Edit Job', edit_job_path(@job) %>
<%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }%>
<br>
<br>
<%= link_to 'Back', :back %>
<br>
<br>

<hr>

<br>
<br>
<!-- if 0 comments dont show the comment count (still show ability to comment) -->
<!-- else -->
          <!-- (show next line )-->
<!-- <h1> <%= @comments.count%>  Comments for  <%= @job.company %> </h1>     -->
<div>
  <h1> <%= @comments.count%>  Comments for  <%= @job.company %> </h1>
</div>

<%= render 'comments/form' %>
<br>

<%= link_to 'Back', :back %>


<!-- <p>
  <strong> <%#= @job.comments.count%> Comments</strong>
</p> -->

<%#= link_to 'Add Comment', new_job_comment_path(@job) %>
