<p id="notice"><%= notice %></p>

<p class="large-top">Application to <%= @job.company %></p>

<ul>

  <li>
    <strong>Applied:</strong>
    <%= time_ago_in_words(@job.created_at)%> ago
  </li>
<br>
  <li>
      <strong>Company:</strong>
      <%= @job.company %>
  </li>
<br>
  <li>
      <strong>Position:</strong>
      <%= @job.position %>

  </li>
  <br>
  <li>
      <strong>Skills:</strong>
      <%= @job.skills %>
  </li>
<br>
  <li>
      <strong>Location:</strong>
      <%= @job.state %>
  </li>
  <br>
  <li>
      <strong>Salary:</strong>
      <%= @job.salary %>
  </li>
  <br>
  <li>
      <strong>Site:</strong>
      <%= @job.site  %>
  </li>
</ul>

<ul>
  <%= link_to 'Edit Job', edit_job_path(@job) %>
    <br>
    <br>
    <br>
  <%= link_to ' Delete ', @job, method: :delete, data: { confirm: 'Are you sure?' }%>
    <br>
    <br>
    <br>
  <%= link_to 'Back', :back %>
</ul>

<div>
  <h1> <%= @comments.count%>  Comments for  <%= @job.company %> </h1>
</div>

<div>
<%= render 'comments/form' %>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->


<!-- <table  class="table table-bordered"> -->
    <!-- <tr class="<%= cycle('oddrow', 'evenrow') -%>">


      <th>
        <p>
        <strong>Applied:</strong>
        <%= time_ago_in_words(@job.created_at)%> Ago
        </p>

        <p>
          <strong>Company:</strong>
          <%= @job.company %>
        </p>

        <p>
          <strong>Position:</strong>
          <%= @job.position %>
        </p>

        <p>
          <strong>Skills:</strong>
          <%= @job.skills %>
        </p>
        <p>
          <strong>State:</strong>
          <%= @job.state %>
        </p>
        <p>
          <strong>Salary:</strong>
          <%= @job.salary %>
        </p>
        <p>
          <strong>Site:</strong>
          <%= @job.site  %>
        </p>

        <br>
        <%= link_to 'Edit Job', edit_job_path(@job) %>
        <br>
        <br>
        <br>
        <%= link_to ' Delete ', @job, method: :delete, data: { confirm: 'Are you sure?' }%>
        <br>
        <br>
        <br>
        <%= link_to 'Back', :back %>

      </th>

  </tr>
</table>


<div>
  <h1> <%= @comments.count%>  Comments for  <%= @job.company %> </h1>
</div>

<div>
<%= render 'comments/form' %>
</div>
<br>
 -->

<!-- <p>
  <strong> <%#= @job.comments.count%> Comments</strong>
</p> -->

<%#= link_to 'Add Comment', new_job_comment_path(@job) %>
