<p id="notice"><%= notice %></p>

<h1>Application to <%= @job.company %> </h1>

<!-- <p>
  <strong>Date Applied: </strong> <%= @job.created_at.to_date %>
</p> -->


<p>
  <strong>Date Applied: </strong> <%= time_ago_in_words(@job.created_at) %> ago
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>

<p>
  <strong>State:</strong>
  <%= @job.state %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Site:</strong>
  <%= link_to "#{@job.site}"  %>
</p>

<%= link_to 'Edit Job', edit_job_path(@job) %> |
<%= link_to ' Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }%>
<br>
<br>


<hr>
<%= link_to 'Back', jobs_path %>


<!-- <p>
  <strong> <%#= @job.comments.count%> Comments</strong>
</p> -->

<%#= link_to 'Add Comment', new_job_comment_path(@job) %>
