<!-- ********       General Notes About App at Bottom of file       *********** -->


<!DOCTYPE html>
<html>
  <head>
    <title>MyApply</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to 'Home', root_path %> |
    <%= link_to 'Jobs', jobs_path %>
    <hr>


    <%= yield %>
  </body>
</html>


<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->


              <!-- Notes -->



<!-- Did NOT Add Devise Views -->
<!-- 4. You can copy Devise views (for customization) to your app by running:
rails g devise:views -->

<!--  Added:   -->
<!-- config.action_mailer.default_url_options = { host: 'localhost', port: 3000 } -->
<!-- in: /Users/jonathannorton/Desktop/rails_projects/MyApply/MyApply/config/environments/development.rb -->



<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
