<!-- ********       General Notes About App at Bottom of file       *********** -->
<!DOCTYPE html>
<html>
  <head>
    <title>MyApply</title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      Welcome <%= link_to "#{current_user.email}", current_user %>
    <br>
    <br>
       <%= link_to 'Home', root_url %> |
       <%=link_to 'My Jobs', current_user%> |
       <%=link_to 'New Job', new_job_path(@user) %> |
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>﻿
    <% else %>
       <%= link_to 'Home', root_url %> |
       <%=link_to 'Jobs', jobs_path %> |
       <%= link_to 'Log In', new_user_session_path%> |
       <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
    <hr>


    <%= yield %>

  </body>
</html>


<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->


              <!-- Notes -->



<!-- Did NOT Add Devise Views -->
<!-- 4. You can copy Devise views (for customization) to your app by running:
rails g devise:views -->

<!--  Added:   -->
<!-- config.action_mailer.default_url_options = { host: 'localhost', port: 3000 } -->
<!-- in: /Users/jonathannorton/Desktop/rails_projects/MyApply/MyApply/config/environments/development.rb -->


<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
<!-- ******************* -->
